/**{
	margin: 0;
	padding: 0;
}*/
body{
	margin: 0;
	font-family: Montserrat, "helvetica neue", Helvetica, Arial, sans-serif;
}
/*Cabecera-------------------------------*/

.cabecera{
	height: 60px;
	border-bottom: 1px solid #d9d9d9;
}

/*Logo-------------------------------*/

.logo{
	float: left;
}
.logo a{
	color: #000;
    text-decoration: none;
    padding: 25px 25px 20px 25px;
    font-size: 19px;
}
.logo:hover a{
	background-color: #dde8ee;
	color: #336699;
}

/*Menu-------------------------------*/

.menu{
	float: right;
}
.menu-cabecera li{
	list-style: none;
	display: inline-block;
	font-size: 13px;
	padding-top: 5px;
}
.menu-cabecera a{
	text-decoration: none;
	color: #000;
	padding: 25px 25px 24px 25px;
}
.uno:hover{
	background-color: #dde8ee;
	color: #336699;
}
.dos:hover{
	background-color: #dde8ee;
	color: #336699;
}
.tres:hover{
	background-color: #dde8ee;
	color: #336699;
}
.cuatro:hover{
	background-color: #dde8ee;
	color: #336699;
}

/*Contenedor-------------------------------*/

.contenedor{
	
}

.cuerpo1{
	height: 400px;
	border-bottom: 1px solid #d9d9d9;
	background-color: #f2f2f2;
	font-family: merriweather,serif;
}
.foto{
	text-align: center;
}
.foto img{
	border: 1px solid #d9d9d9;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin-top: 50px;
}
.texto1{
	text-align: center;
}

.texto1-1 a{
	text-decoration: none;
	font-size: 55px;
	color: #000;
}
.texto1-1:hover a{
	color: #336699;
}
.texto1-2{
	font-size: 25px;
	color: #b3b3b3;
}
.texto1-2 a{
	color: #3596cc;
	text-decoration: none;
}
.texto-a:hover{
	color: #336699;
}
.texto-b:hover{
	color: #336699;
}
.texto-c:hover{
	color: #336699;
}
.cuerpo2{
	height: 500px;
	border-bottom: 1px solid #d9d9d9;
}

/*Pié-------------------------------*/

.pie{
	height: 50px;
}
