*{
	margin: 0;
	padding: 0;
}
body{
	font-family: open sans,sans-serif;
}

/*Logo-------------------------------*/

.logo{
	float: left;
}
.logo a{
	color: #0074d9;
    text-decoration: none;
}

/*Menu-------------------------------*/

.menu{
	float: right;
}
.menu li{
	list-style: none;
	display: inline-block;
}